/* your styles will go here!! */

body {
    
    background: linear-gradient(180deg, rgba(167, 211, 206, 0.00) 0%, #089C8A 81.77%); 
    margin: 25px;
    margin-top: 100;
}

header{
    margin: 25px;
   
}

main{
    margin: 25px;
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 900px;
    height: 700px;
}

nav a {
    color: #949494;
    font-family: Limelight;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px;
    
    
}

h1 a {
    color: #6d6d6d;
    font-family: Limelight;
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}



h2 {
    color: #808080;
    font-family: Limelight;
    text-align:left;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #232323;
    font-family: Limelight;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 75px;
    text-align: left;
}
h4{
color: #000;
font-family: Limelight;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 200px;
margin-top: 8px;
margin-bottom: 8px;
text-align: left;
}

